# We will use docker to set up out environment, so don't use any particular
# language in Travis itself
language: generic

# Enable docker
sudo: required
services:
    - docker

# Disable automatic submodule fetching (it's done recursively)
git:
    submodules: false

# Do a shallow submodule fetch
before_install: git submodule update --init

env:
    global:
        # Make sure beaver is in the PATH
        - PATH="$(git config -f .gitmodules submodule.beaver.path)/bin:$PATH"
    matrix:
        - DMD=1.081.* DIST=xenial F=production
        - DMD=1.081.* DIST=xenial F=devel
        - DMD=2.071.2.s* DIST=xenial F=production
        - DMD=2.071.2.s* DIST=xenial F=devel
        - DMD=2.078.* DIST=xenial F=production
        - DMD=2.078.* DIST=xenial F=devel


install: beaver dlang install

# Build packages too, this should be done by beaver:
# https://github.com/sociomantic-tsunami/beaver/issues/34
script: BEAVER_DOCKER_VARS="F" beaver dlang make && beaver dlang make pkg

jobs:
    include:
        - stage: Upload Package
          # We need to include the exclusion of D2 tags because this "if"
          # replaces the global one
          if: tag IS present
          # Which package to deploy
          env: DMD=dmd1 DIST=xenial F=production
          # before_install: and install: are inherited and we don't need to
          # override them.
          script: beaver dlang make pkg && beaver bintray upload -d sociomantic-tsunami/nodes/dmqnode
                  build/last/pkg/*.deb
